<div class="relative w-full h-[700px]">
    <iframe src="https://www.youtube.com/embed/CT2_P2DZBR0?controls=0&mute=1&autoplay=1" class="w-full h-full absolute"
        frameborder="0"></iframe>
    <div class="h-screen ">
        <div class=" w-full pt-[15%] px-24 absolute h-full bg-gradient-to-r from-black">
            <h1 class="text-white font-bold text-6xl">F1</h1>
            <p class="text-white flex-wrap inline-block py-6 text-xl w-1/2 ">From Apple Original Films and the
                filmmakers from Top Gun: Maverick comes the
                high-octane,
                action-packed
                feature film F1, starring Brad Pitt and directed by Joseph Kosinski. The film is produced by Jerry
                Bruckheimer, Kosinski, seven-time FORMULA 1 world champion Lewis Hamilton, Pitt, Dede Gardner,
                Jeremy
                Kleiner and Chad Oman.</p>

            <div class=" flex gap-1">
                <button
                    class="text-black bg-white/80 py-4 px-12 text-xl rounded-lg cursor-pointer hover: transition-[1s]">
                    ▶ play
                </button>
                <button class="rounded-lg text-white px-12 py-4 text-xl bg-black/50 mx-2 cursor-pointer">
                    More Info
                </button>
            </div>
        </div>
    </div>

</div>