
<app-header></app-header>
<app-banner />
<main class="bg-black h-[100%] w-[100%]">
    <app-movie-curosel [videoContents]="myMovies" [title]="'popular on netflix'" />
    <app-movie-curosel [videoContents]="tvShows" [title]="'Trending TV shows'" />
    <app-movie-curosel [videoContents]="nowPlaying" [title]="'now playing movies'" />
    <app-movie-curosel [videoContents]="popular" [title]="'Popular Movies'" />
    <app-movie-curosel [videoContents]="topRated" [title]="'top rated'" />
    <app-movie-curosel [videoContents]="upComing" [title]="'upcoming movies'" />
    <router-outlet />

</main>