/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import 'swiper/swiper.scss';
/* styles.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
}

app-root {
  display: block;
  height: 100%;
  background-color: black;
}

  